@font-face {
  font-family: "SFProDisplay";
  src: url("../fonts/SFProDisplay-Regular.woff");
  font-weight: 400;
}
@font-face {
  font-family: "SFProDisplay";
  src: url("../fonts/SFProDisplay-Semibold.woff");
  font-weight: 600;
}
@font-face {
  font-family: "SFProDisplay";
  src: url("../fonts/SFProDisplay-Bold.woff");
  font-weight: 700;
}
@font-face {
  font-family: "SFProDisplay";
  src: url("../fonts/SFProDisplay-Heavy.woff");
  font-weight: 900;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  background-color: #000000;
  background-image: url("./images/bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  @media (min-resolution: 2dppx) {
    background-image: url("./images/bg@2x.png");
  }
  @media (min-resolution: 3dppx) {
    background-image: url("./images/bg@3x.png");
  }

  color: #ffffff;
  font-family: "SFProDisplay", Helvetica, sans-serif;
  font-weight: 400;
  height: 100vh;
  width: 100%;
  max-width: 430px;
  display: flex;
  flex-direction: column;
  //   align-items: center;
  margin: 0 auto;
}
.container {
  min-width: 320px;
  max-width: 430px;
  padding: 0 24px;
}
.header {
  &__bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}
.banner {
    // position: relative;
  margin-top: auto;
  padding-top: 60px;
  &__link-cls {
    position: absolute;
    left: 24px;
    top: 72px;
    width: 12px;
    height: 12px;
  }
  &__title {
    text-align: center;
    font-size: 42px;
    // font-size: clamp(2.25rem, 1.6184rem + 3.1579vw, 2.625rem);
    line-height: 46px;
    font-weight: 900;
    margin-bottom: 40px;
  }
  .wrapper {
    display: flex;
    justify-content: space-between;
    font-size: 0;
    margin-bottom: 40px;
    gap: 8px;
    &__item {
      position: relative;
      // display: flex;
      max-width: 104px;
      border-radius: 12px;
      overflow: hidden;
      // background: #15072F;
      img {
        max-width: 100%;
        width: 100%;
        object-fit: cover;
      }
      &::after {
        position: absolute;
        content: "";
        width: 100%;
        height: 100%;
        top: 0;
        bottom: 0;
        left: 0;
        background: linear-gradient(#0000 30%, #04061a50, #060925cb, #15072f);
      }
    }
    &__title {
      position: absolute;
      bottom: 0;
      left: 0;
      padding: 10.8px 7.2px;
      font-size: 11px;
      font-weight: 400;
      z-index: 2;
    }
  }
  &__btn {
    position: relative;
    display: grid;
    grid-template-columns: 70% 30%;
    grid-template-rows: repeat(2);
    &_bottom {
      .btn__title {
        grid-row: 1 / sapn 2;
        align-self: center;
      }
    }
  }

  &__btn_offer {
    position: absolute;
    top: -11px;
    right: 10px;
    padding: 3px 10px;
    min-width: 120px;
    color: #141131;
    font-size: 13px;
    line-height: 13px;
    font-weight: 700;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 1px 6px #00000082;
  }
  &__action {
    display: grid;
    grid-template-rows: repeat(2, 56px);
    grid-gap: 8px;
  }
  .btn {
    font-family: "SFProDisplay", Helvetica, sans-serif;
    width: 100%;
    height: 56px;
    border-radius: 32px;
    padding: 8px 24px;
    text-align: center;
    border: 1px solid transparent;
    box-sizing: border-box;
    background-color: #23222e;
    color: #ffffff;
    transition: color 0.3s ease-in-out, background-color 0.3s ease-in-out, border 0.3s ease-in-out;

    &__title {
      width: 100%;
      text-align: start;
      font-size: clamp(16px, 0.3289rem + 2.1053vw, 1rem);
      line-height: 100%;
      // font-size: min(max(16px, 4vw), 12px);
      //   font-size: min(4vw, 16px);
      // font-size: max(30vw, 16px);
      // font-size: calc(16px + 6 * ((100vw - 320px) / 680));
      white-space: nowrap;
      font-weight: 600;
      text-transform: uppercase;
      justify-self: start;
      align-self: center;
    }
    &__subtitle {
      width: 100%;
      text-align: start;
      white-space: nowrap;
      font-size: clamp(16px, 0.3289rem + 2.1053vw, 1rem);
      line-height: 100%;
      // font-size: min(max(16px, 4vw), 10px);
      font-weight: 400;
      color: #cbcbcd;
    }
    &__subtitle_left {
      grid-column: 1 / span 1;
      grid-row: 2 / span 1;
      justify-self: start;
      align-self: center;
    }
    &__subtitle_right {
      margin-left: 8px;
      grid-column: 2 / span 1;
      grid-row: 1 / span 2;
      align-self: center;
    }
    &.active {
      background-color: #534e57;
      border: 1px solid #ffffff;
    }
    &.continue {
      display: flex;
      align-items: center;
      justify-content: center;
      color: #070b33;
      background-color: #ffffff;
      font-size: 20px;
      font-weight: 600;
      // margin-top: 16px;
      text-transform: capitalize;
    }
  }
}
.footer {
  padding: 10px 0;

  &__list {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  &__link {
    text-align: center;
    font-size: 12px;
    line-height: 100%;
    font-weight: 400;
    color: #ffffff81;
    text-decoration: none;
    padding: 0 4px;
    margin: 0 auto;
    white-space: nowrap;
  }
}
@media (min-width: 320px) and (orientation: portrait) {
  .header {
    height: 21px;
    background-color: transparent;
    font-weight: 400;
    font-size: 12px;
    &__container {
      padding: 3px 6px;
    }

    &__bar {
      display: none;
      &_sm {
        display: flex;
      }
    }
    &__left,
    &__right {
      display: flex;
      align-items: center;
      padding: 3px 0;
      max-width: 80px;
      img {
        padding: 2px;
      }
    }
  }
  .banner {
    &__title {
      font-size: clamp(42px, 1.2321rem + 5.7143vw, 2.625rem);
    }
    .btn.continue {
        margin-bottom: 18px;
    }
  }
  .footer {
    &__link {
        font-size: clamp(12.5px, -0.6429rem + 5.7143vw, 0.75rem);
    //   font-size: min(max(12px, 4vw), 8px);
    }
  }
}
@media (min-width: 390px) and (orientation: portrait) {
  .header {
    height: 44px;
    background-color: transparent;
    font-size: 15px;
    &__container {
      padding: 14px 20px;
    }

    &__bar {
      display: flex;
      &_sm {
        display: none;
      }
    }
  }
  .banner {
    .btn.continue {
      margin-top: 16px;
      margin-bottom: 14px;
    }
    &__title {
      font-size: 42px;
    }
  }
  .footer {
    padding: 30px 0;
  }
}
